{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/main/new_publi.css' %}">

</head>
<body>
  <main>

    <section class="left_lane">
      <ul class="nav-list2">

        <li class="li_nav">
          <a id="l" name="notific" href="{% url 'indie_app:main' %}">
            <span id="notific" class="material-symbols-outlined">
              house
              </span>
              Home
          </a>
        </li>

        <li class="li_nav">
          <a id="l" name="social"  href="{% url 'letter_app:inbox' %}"> <span id="social" class='material-symbols-outlined'>
            public
          </span>Social</a>
        </li>

        <li class="li_nav">
          <a id="l" name="profile" href="{% url 'storage_app:userprofile' user_id=request.user.id %}">
            <span id="profile" class='material-symbols-outlined'>
              account_circle
            </span>Profile
          </a>
        </li>

        <li class="li_nav">
          <a id="l" name="archives"  href="{% url 'storage_app:library' %}"> <span id="archives" class='material-symbols-outlined'>
            archive
          </span>Archives</a>
        </li>

        <li class="li_nav">
          <a id="l" name="settings"  href="#"> <span id="settings" class='material-symbols-outlined'>
            settings
          </span>Settings</a>
        </li>

        <li class="li_nav">
          <a id="l" name="logout"  href="{% url 'indie_app:logout' %}"> <span id="logout" class='material-symbols-outlined'>
            logout
          </span>Log out</a>
        </li>

      </ul>
    </section>


    <section class="new_publitot">
      <h2 id="nova_pubtext">Nova Publicação</h2>
      <section id="wrapper_newpub">
      
        <form id="addpublic_form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!--
          <label for="{{ form.is_public.id_for_label }}">Is Public:</label>
          {{ form.is_public }}
          -->
          <p>{{ form.title }}</p>
          <p>{{ form.text }}</p>
          <p>{{ form.image.label }} {{ form.image }}</p>
          <p>{{ form.video.label }} {{ form.video }}</p>
          <p>{{ form.attachments.label }} {{ form.attachments }}</p>
          <p>{{ form.is_public.label }} {{ form.is_public }}</p>
          <button type="submit">Publicar</button>
        </form>
        <!-- <a href="{% url 'indie_app:main' %}">Voltar para o Feed</a> -->
      
      </section>
    </section>
  </main>

  <script src="{% static 'js/main/transforms.js' %}"></script>
  
</body>
</html>
{% endblock %}